.table-container {
  margin-top: 6px;
  padding: 8px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.ch {
  text-align: center;
  font-size: 1.8em;
  background-color: rgb(35, 68, 139);
  color: white;
  border-radius: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  padding-top: 5px; 
  padding-bottom: 5px;
}

.wh{
  text-align: center;
  font-size: 1.8em;
  color: white;
  margin-bottom: 5px;
  margin-top: 5px;
  background-color: rgb(42, 82, 169);
  color: white;
  border-radius: 5px;
  padding-top: 5px; 
  padding-bottom: 5px;



}

.rh{
    text-align: center;
  font-size: 1.8em;
  color: white;
  margin-top: 5px;
  margin-bottom: 5px;
  background-color: rgb(62, 131, 205);
  margin-bottom: 5px;
  margin-top: 5px;
  color: white;
  padding-top: 5px; 
  padding-bottom: 5px;
  border-radius: 5px;
}
.smh{
    text-align: center;
  font-size: 1.8em;
  color: white;
  margin-top: 5px;
  margin-bottom: 5px;
  background-color:rgb(80, 145, 225) ;
  margin-bottom: 5px;
  margin-top: 5px;
  color: white;
  padding-top: 5px; 
  padding-bottom: 5px;
  border-radius: 5px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

th, td {
  padding: 5px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  color:white;
  background-color: rgb(35, 68, 139)
}

.odd-row {
  background-color: rgb(230, 246, 255);
}

.even-row {
  background-color: white
}

.modal {
  display: none;
}

.modal.is-active {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.modal-card {
  position: relative;
  width: 50%;
  max-height: 70vh;
  overflow-y: auto;
  background-color: #fff;
  border-radius: 6px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.modal-card-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f5f5f5;
  border-bottom: 1px solid #ddd;
  margin:4px 0;
}

.modal-card-body {
  max-height: 70%;
  padding: 10px;
}

.modal-card-foot {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
  background-color: #f5f5f5;
  border-top: 1px solid #ddd;
}

.edit-icon {
  display: flex; /* Use flexbox to control layout */
  flex-direction: column; /* Stack elements vertically */
  align-items: center; /* Center items horizontally */
  justify-content: center; /* Center items vertically */
  /* width: 100%; */
  height: auto; /* Allow height to adjust based on content */
  /* padding: 10px;  */
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-align: center; /* Center text */
}
.edit-icon img {
  width: 16px; /* Adjust icon size as needed */
  height: 16px; /* Adjust icon size as needed */
  margin: 0; /* Remove any margin */
}
.edit-icon:hover {
  background-color:rgb(35, 68, 139)/* Adjust hover background color */
}


/* .close-icon {
  width: 24px;
  height: 24px;
  cursor: pointer;
} */
.close-button {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15px;
  height: 15px;
  background: #f5f5f5;
  border-radius: 50%;
  transition: background 0.3s ease;
}

.close-button img {
  width: 100%;
  height: 100%;
}

.close-button:hover {
  background: #e0e0e0;
}


/* Form Styling */
.field {
  display: flex;
  flex-direction: column;
  margin-bottom: 3px;
}

.field label {
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 14px;
}

.input, .textarea, .select select {
  padding: 4px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 14px;
  max-width: 300px;
}

.select {
  display: flex;
  flex-direction: column;
}

.select select {
  width: 100%;
}

.field.is-grouped {
  grid-column: span 2;
  margin-top: 4px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
}

tr:hover {
  background-color: #ddd;
}

.form-grid {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Two columns layout */
    gap: 4px; /* Reduced gap between form fields */
  }

.required {
    color: red;
    margin-left: 4px; /* Adjust the spacing as needed */
  }
.end-of-page {
    border-top: 2px solid rgb(29, 29, 111);
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margin */
    max-width: 100%;

  }